body {
    margin : 0px 0px 0px 0px;
}

header {
    padding: 10px; 
}

#wrapper, #footerwrapper {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

#registerbutton {
    display: block;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 0.9em;
    color: #0065FC;
    background-color: white;
    border: none;
}

#navbar {
    width: 100%;
}

#navbar ul {
    flex-wrap: wrap;
    text-align: center;
}

#navbar li:nth-child(3) {
    display: none;
}

#navbar li:nth-child(1), #navbar li:nth-child(2) {
    width: 50%;
    padding: 15px 0px 10px 0px;
    border-top: 0px;
    border-bottom: solid 3px  rgba(225, 95, 65, 0);
}

#navbar li:hover {
    cursor: pointer;
    border-color: #0065FC;
}


#searchbar {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 10px 0px 10px;
}

#searchform {
    width: 100%;
    display: flex;
}

#searchform .fa-map-marker-alt {
    padding: 14px;
}

#searchform input {
    flex-grow: 1;
}

#searchform .text {
    font-size: 0em;
}

#searchform button {
    padding: 12px 12px 14px 14px;
    border-radius : 13px;
}

#searchform button .fa-search {
    display: inline;
    font-size: 0.9em;
}

#filterform {
    flex-wrap: wrap;
}

#filterform h3 {
    width: 100%;
    margin: 10px auto 0px auto;
}

#filterform button {
    margin: 10px 0px 0px 0px;
}

#numberhits {
    margin: 10px 0px 5px 0px;
}

#results, #popular, #activities {
    width: 100%;
    max-width: 100%;
}

#popular {
    order: -1;
    border-radius: 0px;
    margin-top: 0px;
}

.pop_preview {
    margin-top: 15px;
}

#results {
    background-color: white;
}

.res_preview {
    width: 100%;
    margin-top: 15px;
}

#activities {
    padding: 30px;
    height: auto;
}

.act_column {
    width: 100%;
}

.act_preview {
    flex: none;
    height: 150px;
    margin-top: 15px;
}

.act_preview img {
    object-position: center center;
}


footer {
    padding: 10px 0px 10px 30px;
}

#footerwrapper {
    flex-wrap: wrap;
}

.footercolumn {
    width: 100%;
}