
#wrapper {
    width: 85%;
    margin: auto;
    padding: 0 10px 0 10px;
}

h1, h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1.3em;
    margin: 0px;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1.1em;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 0.9em;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 100px;
    height: 50px;
}

#navbar ul {
    display: flex;
    list-style-type: none;
    margin-top: 0px;
}

#navbar li {
    border-top: solid 3px rgba(225, 95, 65, 0);
    padding: 30px 25px 0px 25px;
}

#navbar li a {
    font-family: 'Raleway', sans-serif;
    font-size: 0.9em;
    color: black;
    text-decoration: none;
}

#navbar li:nth-child(3) a{
    font-weight: 700;
    color: #0065FC;
}

#navbar li:hover a {
    color: #0065FC;
}

#navbar li:hover {
    cursor: pointer;
    border-top: solid 3px #0065FC;
}

#searchbar {
    width: 100%;
}

#searchbar p {
    margin: 15px 0px 25px 0px;
}

#searchform {
    width: fit-content;
    border-top: 2px solid #F2F2F2;
    border-bottom: 2px solid #F2F2F2;
    border-radius: 15px;
}

#searchform i {
    padding: 11px 10px 11px 12px;
    background-color: #F2F2F2;
    border-radius : 13px 0px 0px 13px;
}

#searchform input {
    padding: 10px;
    background-color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 0.9em;
    font-weight: 700;
    border-style: none;
}

#searchform button {
    padding: 10px;
    color: white;
    background-color: #0065FC;
    font-family: 'Raleway', sans-serif;
    font-size: 0.9em;
    font-weight: 700;
    border-style: none;
    border-radius : 0px 13px 13px 0px;
}

#searchform button:hover {
    cursor: pointer;
}


#filterform {
    display: flex;
    align-items: center;
}

#filterform button {
    padding: 0px 15px 0px 0px;
    border-radius: 50px;
    border: 2px solid #F2F2F2;
    border-left-style: none;
    margin: 0px 0px 0px 20px;
    background-color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 0.8em;
    color: black;
}

#filterform .fas {
    padding: 10px;
    margin: 0px 10px 0px 0px;
    border-radius: 50px;
    color: #0065FC;
    background-color: #DEEBFF;
}

#filterform .fa-child {
    padding: 10px 13px 10px 12px;
}

#filterform button:hover {
    cursor: pointer;
    background-color:#0065fc;
    color: white;;
}


.fa-info{
    color: #0065FC;
    font-size: 0.7em;
    padding: 7px 10px 7px 10px;
    border: 2px solid #f2f2f2;
    border-radius: 500px;
}


#corps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


#results {
    width: 63%;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #F2F2F2;
    border-radius: 13px;
}

#results h2 {
    width: 100%;
}

.res_preview {
    width: 30%;
    margin-top: 35px;
    background-color: white;
    border: 5px solid white;
    border-radius: 13px;
    overflow: hidden;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.2);
}

.res_preview img {
    width: 100%;
    height: 110px;
    object-fit: cover;
}

.res_preview h3 {
    font-size: 0.9em;
    font-weight: 800;
}

.res_preview p {
    font-size: 0.8em;
}

.res_preview h3, .res_preview p, .res_preview .starrating {
    margin: 6px 0px 4px 10px;
}

.starrating {
    color: #f2f2f2;
    font-size: 0.8em
}

.starrating .checked {
    color: #0065fc;
}

#results .seemore {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1em;
    text-decoration: none;
    margin-top: 30px;
    color: black;
}

#results .seemore:visited {
    color: black;
}

#popular{
    max-width: 25%;
    padding: 30px;
    background-color: #F2F2F2;
    border-radius: 13px;
}

#popular .fa-chart-line {
    float:right;
}

.pop_preview {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 35px;
    background-color: white;
    border: 5px solid white;
    border-radius: 13px;
    overflow: hidden;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.2);
}

.pop_info {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.pop_preview img {
    width: 33%;
    height: 125px;
    object-fit: cover;
}

.pop_preview h3 {
    font-size: 0.9em;
    font-weight: 800;
}

.pop_preview p {
    font-size: 0.8em;
    flex-grow: 1;
}

.pop_preview h3, .pop_preview p, .pop_preview .starrating {
    margin: 6px 0px 6px 10px;
}



#activities {
    width: 100%;
}




.res_preview:hover, .pop_preview:hover, .act_preview:hover {
    cursor: pointer;
    box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.2);
}


section, aside {
    background-color: rgba(225, 95, 65,0.33);
}




footer {
    background-color: rgba(89, 98, 117,0.33);
    width: 100%;
    display : flex;
}

.footercolumn {
    width: 33%;
}


